{% extends 'base.html.twig' %}

{% block title "Events " %}

{% block body %}
    <section class="event-show event-edit">
        <header id="menu">
            <a class="link" href="{{ path('event_index') }}">&larr; back to the event list</a>
        </header>

        <article>
            <section>
                {# the opening <form> tag #}
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <h1>
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                </h1>

                <dl>
                    <dt>where:</dt>
                    <dd>
                        {{ form_errors(form.location) }}
                        {{ form_widget(form.location) }}
                    </dd>

                    <dt>when:</dt>
                    <dd>
                        {{ form_errors(form.time) }}
                        {{ form_widget(form.time) }}
                    </dd>

                    <dt>what:</dt>
                    <dd>
                        {{ form_errors(form.details) }}
                        {{ form_widget(form.details) }}
                    </dd>
                </dl>

                {{ form_widget(form) }}
                <input type="submit" value="Create" class="btn btn-primary pull-right"/>

                {# the closing </form> tag #}
                {{ form_end(form) }}
            </section>
        </article>
    </section>
{% endblock %}